/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

nav {
  height: 200px;
  width: 100%;
}

.firstlist {
  float: left;
  width: 25%;
}

.firstform {
  float: left;
  padding-left: 50px;
  width: 50%;
}

.header {
  background-color: grey;
  float: left;
  width: 100%;
  text-align: center;
}

.span1 {
  text-align: center;
}

.thirdSection {
  height: 300px;
  width: 100%;
  background-color: darkgrey;
  float: left;
}
#midd {
  text-align: center;
  padding-left: 10px;
  width: 95%;
}
.firstH2 {
  text-align: center;
  background-color: darkgrey;
}

.nem {
  background-color: grey;
}
.foruthSection {
  float: left;
  width: 50%;
  background-color: grey;
}

.secondPara,
.thirdh3,
.gohere {
  text-align: center;
}

.lastSection {
  background-color: lightgrey;
  float: left;
  width: 100%;
  text-align: center;
}

footer {
  float: left;
  background-color: lightblue;
  width: 100%;
  clear: both;
  height: 200px;
}

.soMe {
  float: left;
  clear: both;
}
.address {
  clear: both;
  float: right;
  width: 30%;
}

section.fix {
}
